$navbar-bg: #222;
$navbar-fg: #ddd;
$navbar-bg-hover: #222;
$navbar-fg-hover: #fff;
$navbar-border: #aaa;
$navbar-font-size: 16px;

.navbar {
	background-color: $navbar-bg;
	display: block;
	
	ul {
		background-color: $navbar-bg;
		font-size: 0;
		min-height: 50px;
		display: block;
		margin: 0;
		padding: 0;
		
		li {
			list-style-type: none;
			display: inline-block;
			height: 50px;
			font-size: $navbar-font-size;
			line-height: 50px;
			background-color: $navbar-bg;
			
			&:hover {
				background-color: $navbar-bg-hover;
			}
			
			a, .navitem {
				text-decoration: none;
				display: inline-block;
				height: 50px;
				padding: 0 20px;
				line-height: 50px;
				vertical-align: middle;
				color: $navbar-fg;
				
				&:hover {
					color: $navbar-fg-hover;
				}
			}
			
			&.navlogo {
				font-weight: bold;
				
				img {
					display: inline-block;
					height: 20px;
					padding: 0 5px;
					vertical-align: middle;
				}
			}
		}
		
		.left {
			float: left;
		}
		
		.right {
			text-align: right;
		}
		
		.left, .right {
			li + li {
				border-left: 1px solid $navbar-border;
			}
		}
	}
}
