$navbar-bg: #222;
$navbar-fg: #ddd;
$navbar-bg-hover: #222;
$navbar-fg-hover: #fff;
$navbar-border: #aaa;

.navbar {
	background-color: $navbar-bg;
	display: block;
	
	ul {
		margin: auto auto;
		background-color: $navbar-bg;
		display: block;
		margin: 0;
		padding: 0;
		
		li {
			list-style-type: none;
			display: table-cell;
			height: 50px;
			line-height: 50px;
			background-color: $navbar-bg;
			
			&:hover {
				background-color: $navbar-bg-hover;
			}
			
			+ li {
				border-left: 1px solid $navbar-border;
			}
			
			a, .navitem {
				text-decoration: none;
				display: inline-block;
				height: 50px;
				padding: 0 20px;
				line-height: 50px;
				vertical-align: middle;
				color: $navbar-fg;
				
				&:hover {
					background-color: $navbar-bg-hover;
					color: $navbar-fg-hover;
				}
			}
		}
	}
}
